<% layout("/layouts/boilerplate") -%>
<div class="row">
    <div class="alert alert-danger" role="alert">
        <h3><%=err.statusCode%></h3>
        <p><%=err.message%></p>
        <%if(err.statusCode==404){%>
            <img src="/images/404.gif" height="400px" width="350px">
        <%}%>
    </div>
</div>